<template>
  <div class="home">
    <div class="home__container">
      <div class="home__container__navigation">
        <span class="home__container__navigation--activate">Home</span> /
        <span class="home__container__navigation--activate">Minha conta</span> /
        <span>Bolsas favoritas</span>
      </div>
      <div class="home__container__title">
        <h1>Bolsas favoritas</h1>
        <p>Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações com as melhores ofertas disponíveis.</p>
      </div>
      <div class="home__container__list">
        <scholarship-card @clicked="handleModal()" />
        <div 
          v-for="favoriteCourse in courseList"
          :key="favoriteCourse.uuid"
        >
          <scholarship-card 
            :course="favoriteCourse"
            @deleted="removeCourse($event)"
            @clicked="handleModal()"
          />
        </div>
      </div>
      
      <modal 
        :key="componentKey"
        :open.sync="openModal"
        @closed="handleModal()"
      />
    </div>
  </div>
</template>

<script>
import ScholarshipCard from '@/components/ScholarshipCard'
import Modal from '@/components/FormModal'
import { mapState } from 'vuex';

export default {
  name: 'Home',
  components: {
   ScholarshipCard,
   Modal
  },
  data() {
    return {
      openModal: false,
      courseList: this.$store.state.allCourses,
      componentKey: 0
    };
  },
  computed: {
    ...mapState(['favoritCourseList'])
  },
  watch: {
    favoritCourseList() {
      this.courseList = this.$store.getters.getFavoriteCourses;
    }
  },
  mounted() {
    this.getAllCourses();
    this.getFavoriteCourses();
  },
  methods: {
    handleModal() {
     this.openModal = !this.openModal
     if (!this.openModal) {
       this.componentKey += 1;
     }
    },
    getFavoriteCourses() {
      this.courseList = this.$store.getters.getFavoriteCourses;
    },
    getAllCourses() {
      this.$store.dispatch('getAllCourses')
    },
    removeCourse(course) {
      this.courseList = this.courseList.filter(e => {
        this.$store.dispatch('removeFavoriteCourse', course); 
        return e.uuid !== course
      });
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  flex: 1 0 auto;
  background: $grey;
  padding: 0 1rem;

  &__container {
    max-width: 1200px;
    margin: 2rem auto;

    &__title {
      margin: 3rem 0;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 1250px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 710px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__navigation {
      &--activate {
        font-weight: bold;
        color: $primary-blue;
      }
    }
  }
}
</style>
