<template>
  <div class="college-list-item">
    <div class="college-list-item__prepend">
      <checkbox-component
        :disabled="item.enabled"
        :show-label="false"
        :label-indentifier="item.uuid"
        @checkedValue="selectedItem($event)"
      />
      <img 
        class="college-list-item__prepend__image"
        :src="item.university.logo_url"
        alt=""
      >
    </div>
    <div class="college-list-item__append">
      <div class="college-list-item__append__course">
        <p>{{ item.course.name }}</p>
        <small>bacharelado</small>
      </div>
      <div class="college-list-item__append__price">
        <p>
          Bolsa de 
          <span>{{ item.discount_percentage }}%</span>
        </p>
        <p class="college-list-item__append__per-mounth">
          R$ {{ item.price_with_discount || item.full_price }}/mês
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import CheckboxComponent from '@/components/CheckboxComponent';


export default {
  name: 'CollegeListItem',
  components: {
    CheckboxComponent
  },
  props: {
    item: {
      type: Object,
      default:() =>{}
    }
  },
  methods: {
    selectedItem(item) {
      this.$emit('courseSelected', item);
    }
  },
}
</script>

<style lang="scss">
.college-list-item {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 5%;
  height: 100px;

  align-items: center;

  @media screen and (max-width: 710px) {
    height: 120px;
    font-size: 13px;
    grid-gap: 20%;
    grid-template-columns: 40% 40%;
    justify-items: start;
  }

  &__prepend {
    display: flex;
    align-items: center;
    min-width: 200px;

    &__image {
      height: 40px;

      @media screen and (max-width: 710px) {
        height: 30px;
      }
    }
  }

  &__append {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    flex-grow: 1;

    @media screen and (max-width: 710px) {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

    & * {
      align-self: flex-start;
    }
    
    &__course {
      p {
        color: $primary-blue;
        font-weight: bold;
      }
      margin: .5rem 0;
    }

    &__per-mounth, span {
      color: $green;
      font-weight: bold;
      margin: .5rem 0;
    }
  }
}
</style>