<template>
  <div 
    class="scholarship-card"
  >
    <div 
      v-if="course"
      class="scholarship-card__course"
    >
      <div class="scholarship-card__course__image">
        <img
          :src="course.university.logo_url"
          alt=""
        >
      </div>
      <div class="scholarship-card__course__info">
        <p class="scholarship-card__course__info__university-name">
          {{ course.university.name }}
        </p>
        <p class="scholarship-card__course__info__course-name">
          {{ course.course.name }}
        </p>
      </div>
      <div class="scholarship-card__course__shift">
        <p class="scholarship-card__course__shift__kind">
          {{ course.course.kind }} - {{ course.course.shift }}
        </p>
        <p>inicio das aulas em: {{ course.start_date }}</p>
      </div>
      <div class="scholarship-card__course__prices">
        <p class="scholarship-card__course__prices__text">
          mensalidade com o Quero bolsa:
        </p>
        <s>R$: {{ course.full_price }} </s>
        <p> 
          <span class="scholarship-card__course__prices__discount"> 
            R$: {{ course.price_with_discount }}
          </span> /mês
        </p>
      </div>
      <div class="scholarship-card__course__buttons">
        <button-component 
          text="Excluir"
          @clicked="$emit('deleted', course.uuid)"
        />
        <button-component
          text="Ver oferta"
          ready
        />
      </div>
    </div>
    <div 
      v-else
      class="scholarship-card__new"
      @click="$emit('clicked')"
    >
      <img 
        svg-inline
        src="@/assets/svg/plus.svg"
        alt="example"
      >
      <div class="scholarship-card__new__text">
        <h3>Adicionar bolsa</h3>
        <p>Clique para adicionar bolsas de cursos do seu interesse</p>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonComponent from '@/components/ButtonComponent'


export default {
  name: 'ScholarshipCard',
  components: {
    ButtonComponent
  },
  props: {
    course: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss">
.scholarship-card {
  margin: .5rem .5rem;
  background: $white;
  height: 500px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);

  svg {
    height: 70px;
    width: 70px;    
    fill: $primary-blue;
  }

  &__new {
    height: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__text {
      margin: 2rem 0;
    }
  }

  &__course {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;

    &__info {

      &__university-name {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: .5rem;
      }

      &__course-name {
        font-weight: bold;
        color: $secundary-blue;
      }
    }

    &__shift {
      padding: 1.5rem 0;
      border-top: 3px solid $dark-grey;
      border-bottom: 3px solid $dark-grey;

      &__kind {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }

    &__prices {
      &__text {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 0.8rem;
      }

      &__discount {
        color: $green;
        font-weight: bold;
      }

    }

    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: flex-end;
    }
    
    &__image {
      margin: 1rem 0;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
</style>