<template>
  <footer class="footer">
    <div class="footer__info">
      <div class="footer__info__content">
        <div class="footer__info__content__item">
          <img
            svg-inline
            src="@/assets/svg/whatsapp.svg"
            alt="example"
          >
          <div class="footer__info__content__item__message">
            <p>0800 123 2222</p>
            <small>Seg - Sex 8h-22h</small>
          </div>
          <div class="footer__info__content__item__message-responsive">
            <p>0800 123 2222</p>
            <small>Segunda a sexta de 8h às 22h</small>
          </div>
        </div>
        <div class="footer__info__content__item">
          <img
            svg-inline
            src="@/assets/svg/chat.svg"
            alt="example"
          >
          <div class="footer__info__content__item__message">
            <p>Chat ao vivo</p>
            <small>Seg - Sex 8h - 22h</small>
          </div>
          <div class="footer__info__content__item__message-responsive">
            <p>Chat</p>
          </div>
        </div>
        <div class="footer__info__content__item">
          <img
            svg-inline
            src="@/assets/svg/message.svg"
            alt="example"
          >
          <div class="footer__info__content__item__message">
            <p>Mande um e-mail</p>
            <small>Respondemos rapidinho</small>
          </div>
          <div class="footer__info__content__item__message-responsive">
            <p>E-mail</p>
          </div>
        </div>
        <div class="footer__info__content__item">
          <img
            svg-inline
            src="@/assets/svg/info.svg"
            alt="example"
          >
          <div class="footer__info__content__item__message">
            <p>Central de ajuda</p>
            <small>Encontre todas as respostas</small>
          </div>
          <div class="footer__info__content__item__message-responsive">
            <p>Ajuda</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__made">
      <h4>Feito com amor por VictorMeneghini</h4>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.footer {
  background: $primary-blue;
  flex-shrink: 0;
  color: white;

  p, small {
    font-weight: bold;
  }

  svg {
    fill: $white;
    margin: 0 1rem;
  }
  
  &__info {
    background: $secundary-blue;

    @media screen and (max-width: 710px) {
      background: $primary-blue;
    }
    
    &__content {
      margin: 0 auto;
      max-width: 1200px;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 710px) {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
      }

      &__item {
        color: white;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        background: $secundary-blue;

        &__message {
          @media screen and (max-width: 710px) {
            display: none;  
          }
        }

        &__message-responsive {
          display: none;

          @media screen and (max-width: 710px) {
             display: initial;
             margin: .5rem 0;
          }
        }

        @media screen and (max-width: 710px) {
          &:first-child {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: .3rem;
            grid-column: 1 / -1;
          } 

          display: flex;
          flex-direction: column;
          font-size: 12px;
        }
      }
    }
  }

  &__made {
    width: 100%;
    padding: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
</style>