<template>
  <header class="header">
    <div class="header__content">
      <div class="header__content__info">
        <div class="header__content__info__about">
          <img 
            svg-inline
            src="@/assets/svg/info.svg"
            alt="example"
          >
          <span class="header__content__info__about__text">Como funciona</span>
          <span class="header__content__info__about__text__responsive">ajuda</span>
        </div>
        <div class="header__content__info__contact">
          <img 
            svg-inline
            src="@/assets/svg/whatsapp.svg"
            alt="example"
          >
          <div class="header__content__info__contact__message">
            <span>0800 123 2222</span>
            <small>Envie mensagem ou ligue</small>
          </div>
        </div>
      </div>
      <div class="header__content__logo">
        <div class="header__content__logo__image">
          <img
            src="@/assets/svg/logo-querobolsa.svg"
            alt="logo-querobolsa"
          >
        </div>
      </div>
      <div class="header__content__user">
        <span class="header__content__user__text">Como funciona</span>
        <img 
          svg-inline
          src="@/assets/svg/user.svg"
          alt="example"
        >
        <span class="header__content__user__text__responsive">contato</span>
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__nav__content">
        <li>Minha conta</li>
        <li>Pré-matrículas</li>
        <li class="header__nav__content__item-activate">
          Bolsas favoritas
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>

export default {
  name: 'AppHeader',
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.header {
  &__content {
    max-width: 1200px;
    background-color: $grey;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-content: space-between;
    color: $secundary-blue;

    @media screen and (max-width: 710px) {
      grid-template-columns: 20% 30% 30%;
    }
    

    &__info {
      display: flex;
      justify-content: space-between;

      &__about {
        display: flex;
        align-items: center;
        border-right: solid 3px $dark-grey;
        

        @media screen and (max-width: 710px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0;

          span {
            margin: 0;
          }
        }

        &__text {
          @media screen and (max-width: 710px) {
            display: none;
          }

          &__responsive {
            display: none;

            @media screen and (max-width: 710px) {
              display: initial;
            }
          }
        }
        
        span {
          margin: 0 .5rem;
        }

        svg {
          fill: $secundary-blue;
        }
      }

      &__contact {
        flex-grow: 2;
        display: flex;
        align-items: center;

        @media screen and (max-width: 710px) {
          display: none;
        }

        svg {
          fill: $green;
          margin-left: .5rem;
        }

        &__message {
          margin: 0 1rem;
          display: flex;
          flex-direction: column;
        }
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;

      &__image {
        width: 140px;
      }

      img {
        width: 100%;
      }
    }

    &__user {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width: 710px) {
        display: flex;
        flex-direction: column;
        border-left: solid 3px $dark-grey;
      }

      &__text {
        @media screen and (max-width: 710px) {
          display: none;
        }

        &__responsive {
          display: none;

        @media screen and (max-width: 710px) {
          display: initial;
        }
      }
    }

      svg {
        margin: 1rem;
        fill: $secundary-blue;

        @media screen and (max-width: 710px) {
          margin: 0;
        }
      }
    }

    svg {
      height: 22px;
      width: 22px;
    }
  }

  span, small {
    font-weight: bold;
  }

  &__nav {
    width: 100%;
    background: $primary-blue;

    &__content {
      padding: 0 1rem;
      max-width: 1200px;
      margin: 0 auto;
      list-style: none;
      display: flex;
      color: #fff;

      &__item-activate {
        background: $secundary-blue;
      }

      li {
        padding: .5rem 1rem;
        cursor: pointer;
      }

      li:first-child {
        padding-left: 0;
      }
    }
  }
}
</style>
